---
import Layout from '../layouts/Layout.astro';
import HomeApp from '../components/apps/HomeApp.svelte';
---

<Layout title="Home">
  <div class="page-header">
    <h1>Home</h1>
  </div>
  <HomeApp client:only="svelte" />
</Layout>
