---
import Layout from '../layouts/Layout.astro';
import RecordsApp from '../components/apps/RecordsApp.svelte';
---

<Layout title="Records">
  <div class="page-header">
    <h1>Records</h1>
  </div>
  <RecordsApp client:only="svelte" />
</Layout>
