---
import Layout from '../layouts/Layout.astro';
import SettingsApp from '../components/apps/SettingsApp.svelte';
---

<Layout title="Settings">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <SettingsApp client:only="svelte" />
</Layout>
